{% import _self as sheet %}
<div class='container-fluid sheet-daggerheart-communitycard sheet iscard'>
  <div class='row'>
    <div class='col-12'>
      <div class='card community' id='card-community'>
        <div class='card-header community'>{{variables.name|default}}</div>
        <div class='card-body of'>
          {{variables.desc|default}}
        </div>
      </div>
    </div>
  </div>
</div>