<div class="container-fluid sheet-wh40kdw badge">
    <div class="row">
        <div class="col-12">
            <div class="card personal" id="card-personal">
                <div class="card-body c">
                    <b>{{variables.name|default}}</b><br>
                    {{variables.chapter|default}}<br>
                    {{variables.specialty|default}}<br>
                    Rank {{variables.rank|default}}
                </div>
            </div>
        </div>
    </div>
</div>