<div class='container-fluid sheet-legends-in-the-mist'>
  <div class='row'>
    <div class='col-12 col-md-12 c'>
        <div class='card-header hero card'>{{variables.name|default}}</div>
        <span class='lbl ev lbl-player-name'> Player: </span><span class='var ev var-player-name'> {{variables.player_name|default}} </span>
    </div>
  </div>
</div>