 .container-fluid {
  --text-color: #203020;
  --default-color: #f9f9f6;
  --border-color: #1c3448;
  --section-title-color: #4682b4;
  --warn-color: #FF0000;
  --font: Pt Sans Narrow;
  color: var(--text-color) !important;
  background-color: var(--default-color) ;
  background-image: url('https://wa-cdn.nyc3.digitaloceanspaces.com/user-data/production/9c39a818-32be-48e1-8d60-d61d6f3980bd/uploads/images/20ca1d1ca073d34183489cc0ab35bc72.png' ) ;
  font-size: 20px !important;
  font-family: var(--font) !important;
  padding: 20px;}
 .logo { width:100%}
 .container-fluid .btn-link { background: none; border: none}
 .container-fluid .btn-link,  .container-fluid .btn-link:active,  .container-fluid .btn-link:visited,  .container-fluid .btn-link:hover { color: var(--off-white)}
 .mytable td,  .mytable th,  .mytable>tbody>tr>td { border: none}
 .mytable { width:100%; border-spacing: 2px; margin-bottom: 0}
 .mytable td { padding:2px; background-color:var(--default-color) !important}
 .form-control,  .form-control:focus {
  font-size: 20px !important;
  font-family: var(--font) !important;
  color: var(--text-color) !important;
  background-color: var(--default-color) }
 .card {
  background-color: var(--section-title-color) ;
  margin: 5px;
  color: var(--text-color)!important;
  border: 1px solid var(--border-color) ;
  border-radius: 0}
 .card-header {
  color: var(--default-color) ;
  background-color: var(--section-title-color)!important;
  font-size: 30px;
  text-align: center;
  padding: 8px;
  margin: 0px;
  margin-bottom: 2px;
  border: 1px solid  var(--border-color) ;
  border-bottom: 0}
 .card-body {
  color: var(--text-color) !important;
  background-color: var(--default-color) !important;
  font-family: var(--font) ;
  font-weight: 400;
  font-size: 20px;
  padding: 0px;
  margin: 0px;}
 .lbl,  .ilbl { font-weight:800; padding: 0px 3px; font-size:16px}
 .ilbl-shadow,  .lbl-shadow { margin-top:2px}
 th.ilbl,  .lbl,  .ilbl { color: #212529 !important; background-color: #B5CDE1 !important; padding-left:10px; padding-right:10px}
 .ilbl { padding-top:10px}
 td.var,  td.ivar { padding-left:10px}
 .var,  .ivar { padding: 0px 3px; color: #212529 !important; background-color:#F1E4D1 }
 .var,  .ivar { padding: 10px}
 .var.var-att-base { padding: 0px}
 .lbl.ev,  .ilbl.ev { background-color: #B5CDE1 !important}
 .lbl.od,  .ilbl.od { background-color: #B5CDE1 !important}
 .lbl-att-base { font-size: 32px}
 .var.ev,  .ivar.ev { background-color: var(--default-color) !important}
 .var.od,  .ivar.od { background-color: #ecf2f7 !important}
 .pd2 { padding: 2px !important}
 .c { text-align:center}
 .l { text-align:left}
 .of { overflow:auto}
 .small,  .small a { font-size:10px}
 .attributes .card-body { text-align:center; padding: 0}
 .attributes .var-att-base {
   line-height: .8em;
   width: 40px;
   height: 40px;
   border-radius: 40px;
   border: 2px solid var(--border-color) ;
   text-align: center;
   background-color: #F0E8E3;
   overflow: hidden;
   margin: 10px auto;
   color: var(--text-color) ;
   padding-top: 10px;
   font-size: 20px;
   font-weight: bold}
 .attributes .var-att-mod {
   line-height: .8em;
   width: 80px;
   height: 80px;
   border-radius: 80px;
   border: 2px solid var(--border-color) ;
   text-align: center;
   background-color: #F0E8E3;
   overflow: hidden;
   margin: 10px auto;
   color: var(--text-color) ;
   padding-top: 20px;
   font-size: 40px;
   font-weight: bold}
 .data .var { text-align:center}
 .fa-square { padding: 0px 1px!important;}
 .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a { font-size:12px}
 input[required] { border: 2px solid var(--warn-color) !important}
 select.form-control { padding: 0px 2px}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control,  select.form-control {
  background-color: var(--default-color) !important;
  border: 1px solid var(--border-color) }
 .rolldice { font-size: 20px; font-weight:400; font-family: var(--font) !important}
 .pdimot { padding-top:15px !important}
 .ivar-ei-value { width: 75%; display: inline-flex}
 .label-roller { background: var(--section-title-color) ; color: var(--default-color) }
 ::-webkit-input-placeholder { opacity: .5; color: var(--text-color) }